# Virtual environments
venv/
.venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables / secrets
.env

# OS files
.DS_Store
Thumbs.db

# IDE / editor settings
.vscode/
.idea/

# Build files
build/
dist/
*.egg-info/

# Logs
*.log